.App {
  text-align: center;
  background-color:#091E4D;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.cols{
  display: flex;
  width: 100%;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.column > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #143e91;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 6px black;
}

.image{
display: flex;
align-items:center ;
}

.index_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #143e91;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 10px;

}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #818181;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #091E4D;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #818181;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}