.App {
  text-align: center;
  background-color: #FF704C;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 1;
  min-width: 300px;
}


